{% extends 'app/base.html' %}
{% block title %} Ders Notları {% endblock%}
{% load crispy_forms_tags %}
{% block body %}
{% csrf_token %}
{{ form|crispy }}
<form method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col">
            {{ form.search_query_lesson.label_tag }}
            {{ form.search_query_lesson }}
        </div>
        <div class="col">
            {{ form.search_query_copy_or_note.label_tag }}
            {{ form.search_query_copy_or_note }}
        </div>
        <div class="col">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </div>
</form>
{% if lessons %}

        <div>
            <table class="table table-striped">
                
                <tr>
                    <th scope="col">title</th>
                    <th scope="col">name</th>
                    <th scope="col">class_year</th>
                    <th scope="col">lesson_year</th>
                    <th scope="col">academician</th>
                    <th scope="col">copy_or_note</th>
                     
                </tr>
                {% for lesson in lessons %}
                <tr>
                    <td>{{ lesson.title}}</td>
                    <td>{{ lesson.get_name_display}}</td>
                    <td>{{ lesson.class_year}}</td>
                    <td>{{ lesson.lesson_year}}</td>
                    <td>{{ lesson.academician}}</td> 
                    <td>{{ lesson.get_copy_or_note_display}}</td> 
                </tr>
                {% endfor %}
            </table>  
        </div>
        <!-- Display pagination links -->
        <nav aria-label="...">
            <ul class="pagination">
                {% if lessons.has_previous %}
                    {% if lessons.previous_page_number != 1 %}
                        <li class="page-item"><a class="page-link" href="?page=1"> 1</a></li>
                    {% endif %}
                    <li class="page-item"><a class="page-link" href="?page={{ lessons.previous_page_number }}">{{ lessons.previous_page_number }}</a></li>
                    
                {% endif %}

                
                <li class="page-item active"><span class="sr-only page-link">{{ lessons.number }}</span></li>

                {% if lessons.has_next %}
                    
                    <li class="page-item"><a class="page-link" href="?page={{ lessons.next_page_number }}">{{ lessons.next_page_number }}</a></li>
                    {% if lessons.next_page_number  !=  lessons.paginator.num_pages%}
                        <li class="page-item"><a class="page-link" href="?page={{ lessons.paginator.num_pages }}">{{ lessons.paginator.num_pages }} </a></li>
                    {% endif %}
                {% endif %}
            </ul>
        </nav>
    
{% endif %}


{% endblock %}

